header{
	height:680px;
	background-image: url("../img/banner.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

.p0{
	padding: 0;
}
nav{
	height: 94px;
	line-height: 94px;
	top: 0;
	left: 0;
	width: 100%;
	z-index:1000;
}

.my_btn{
	background-color: #e84545;
	border:none;
	text-transform:uppercase;
	color:white;
}

.btn_md{
	padding:10px 30px;
}

.btn_lg{
	padding: 15px 50px;
	margin-bottom:50px;
}

.soc{
	border:1px solid white;
	color:white;
	padding:5px 10px;
	margin:5px;
}

.logo{
	padding-top:35px;
}
.menu{
	list-style:none;
	padding: 0;
	margin: 0;
}

.menu li{
	display: inline-block;
	padding:0 30px;
}

.menu li a{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.menu li a:hover{
	text-decoration:none;
}

.top_line{
	height:1px;
   background-color:grey;
}

.title_block{
	color:white;
	text-align:center;
	margin-top:100px;
}

.title_block h1{
 	 font-size:50px;
 	 font-family: 'Raleway', sans-serif;
 	 margin-bottom: 30px;
 	 font-weight: 700;
}

.title_block p{
	font-size: 18px;
	margin-bottom: 50px;
	margin-top:-23px;
}

.features{
	padding: 95px 0;
}

.features p{
	font-family: 'Raleway';
	color: #6c7279;
}

.features_block{
	text-align:center;
	margin: 30px;
	width:370px;
}

.features_block i{
	font-size:70px;
	color: #e84545;
}

.features_block h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform:uppercase;
}

.work_block{
position: relative;
}

.image_wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(232,69,69,0.6);
	display: flex;
	opacity: 0;
}

.image_wrap:hover{
	opacity: 1;
}

.work_descr{
	color:white;
	text-align:center;
	margin: auto;
}


.main_footer{
	padding: 70px 0;
	background-color: #3a3e64;	
}

.footer_item{
	text-align:center;
}

.footer_item h5{
	font-size:18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: white;
}

.footer_item p{
	color: #9d9fb2;
}

.copyright{
	background-color: #313454;
}

.copytext{
	color: #9d9fb2;
	text-align:center;
	padding:20px 0;
		width:348px;
}

.form-control{
	margin-bottom:15px;
}